@namespace Majunga.Libraries.RazorComponents.Components.Forms

@using System.Linq.Expressions

<div class="custom-control custom-switch">
    <label class="custom-control-label" for="@For">
        @OffLabel
    </label>
    <InputCheckbox class="custom-control-input" id="@For" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="AdditionalAttributes" />
    <label class="custom-control-label" for="@For">
        @OnLabel
    </label>
</div>
@code {
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
    [Parameter] public string OffLabel { get; set; }
    [Parameter] public string OnLabel { get; set; }
    [Parameter] public string For { get; set; }

    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public Expression<Func<bool>> ValueExpression { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
