@namespace Majunga.Libraries.RazorComponents.Components.Forms
@using System.Linq.Expressions
@using System.Diagnostics.CodeAnalysis;

@typeparam TValue
@inherits InputDate<TValue>

<div class="form-group">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id" class="form-label">
            @Label
        </label>
    }

    <input ref="@Element"
        @attributes="@AdditionalAttributes" 
        class="@InputClass" 
        value="@BindConverter.FormatValue(CurrentValue)"
        onchange="@(EventCallback.Factory.CreateBinder<string?>(this, __value => CurrentValueAsString = __value, CurrentValueAsString))" />
</div>


@code {
    private string InputClass => OverrideClass ? CssClass : string.Join(' ', CssClass, "form-control mb-3");

    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public bool OverrideClass { get; set; }

}